.btn-themeBlue {
  background-color: $themeBlue;
  color: #fff;
  &:hover {
    background-color: darken($themeBlue, 5%);
    color: #fff;
  }
}

.btn-themeRed {
  background-color: $themeRed;
  color: #fff;
  &:hover {
    background-color: darken($themeRed, 20%);
    color: #fff;
  }
}

.btn-addCoupon {
  cursor: pointer;

  &__icon-text {
    display: flex;
    flex-direction: column;
    color: $themeBlue;
    &:hover {
      text-decoration: none;
    }
  }
}

.btn-area {
  display: flex;
  flex-direction: row-reverse;
}

.btn-style {
  padding: 0.5rem 5rem;
  margin: 0 0.5rem;
}

.btn-halfWidth {
  width: 40%;
}
