.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
  font-size: 0.7rem;

  &-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.footer-link {
  color: $black;
}
