// Mobile
@media (max-width: $mobile-breakpoint) {
  .btn-area {
    display: block;

    > button {
      width: 100%;
      margin-bottom: 1rem !important;
    }
  }

  .btn-style {
    margin: 0;
  }

  .expirationDateTitle {
    display: block;
  }

  .footer {
    font-size: 0.5rem;

    &-content {
      flex-direction: column;
      justify-content: center;
    }
  }
}

// Landscape
@media (max-height: 480px) {
  .btn-area {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
